@page "/"

<PageTitle>Index</PageTitle>

<h1>Bienvenido a la entrega 4</h1>
<h1>Samuel Tobon Cartagena, Nicolas Restrepo Muñoz y Carolina Restrepo Urrego</h1>
<div>
    <h3>BUIENVENIDO AL FUTURO DE ESTOS ESTUDIANTES DE TECNOLOGIA, APRENDE YA!</h3>
</div>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />